<span class="card-title"><strong><%= translate_module(model, :other) %></strong></span>
<div class="card-action">
  <%= search_form_for @q do |f| %>
    <div class="left input-field">
      <%= f.search_field search_match, type: "text", class: "autocomplete", id: "autocomplete-input" %>
      <div class="right">
        <button class="btn-floating btn-flat waves-effect waves-light teal lighten-1 prefix"><i class="material-icons">search</i></button>
      </div>
    </div>
  <% end %>
  
  <div class="right input-field">
    <%= link_to translate_action(:create),
        { controller: controller, action: :new },
        class: 'waves-effect waves-light btn' %>
  </div>
  
</div>







