<!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      BASE
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a href="#" target="_blank">BASE LTDA</a>.</strong> Todos os direitos reservados.
  </footer>
