<header>
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s12">
          <a id="burger-icon-1" href="#" data-target="sidebar-1" class="left sidenav-trigger show-on-medium"><i class="material-icons">menu</i></a>
          <a id="burger-icon-2" href="#" data-target="sidebar-2" class="right sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
          <a href="https://codepen.io/collection/nbBqgY" target="_blank" class="brand-logo">Materialize Framework</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://codepen.io/collection/nbBqgY" target="_blank" >Menu item</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY" target="_blank" >Menu item</a></li>
            <li><a href="https://codepen.io/collection/nbBqgY" target="_blank" >Menu item</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>