<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Base Home</title>
        <meta name="description" content="Os melhores preços de óculos originais. Compre óculos, óculos de sol, óculos escuros, óculos de Grau, ray ban, prada, dior,fendi, miu miu, empório armani e relógios com Frete Grátis para todo o Brasil e Devolução Grátis.">

        <!-- favicon -->
        <link rel="icon" type="image/png" href="/home/images/favicon/favicon.png">

    </head>
    <body>
        <%= yield %>
    </body>
</html>
